@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

nav {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
}

.purple {
    color: #6515ff;
}

.grey {
    color: #718096a2;
}

.titles {
    font-weight: 600;
    letter-spacing: 1px;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
}

.section__para {
    font-size: 18px;
    color: #7C8BA1;
}

/* NAVIGATION */

.nav__container {
    padding: 32px;
}

.logo {
    width: 40px;
}

.logo--text {
    font-size: 24px;
    font-weight: 900;
    color: #243e63;
    transition: all 300ms ease;
    margin-left: 12px;
}

.logo--text:hover {
    color: #6515ff;
}

.logo--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
}

.nav__links {
    display: flex;
}

.nav__link {
    text-decoration: none;
    margin: 0 24px;
    color: #243E63;
    font-weight: 600;
    font-size: 14px;
    transition: all 400ms ease;
    border-bottom: 2px solid #6715ff00;
    padding-bottom: 2px;
}

.nav__link:hover {
    color:#6515ff;
    border-bottom: 2px solid #6715ff;
}

.nav__link--login {
    margin-left: 48px;
}

.nav__link--primary {
    background-color: #6515ff;
    padding: 12px 32px;
    border-radius: 50px;
    color: #f2f2f2;
    margin: 0;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    background-color: #4c0ebf;
    color: #f2f2f2;
}

/* HEADER */

.header__container {
    padding: 96px 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header__description {
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__title {
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    width: 100%;
    max-width: 480px;
    text-align: left;
}

.header__text {
    color: #7C8BA1;
    font-size: 18px;
    width: 100%;
    max-width: 532px;
    margin: 32px 0;
    text-align: left;
    line-height: 1.5;
}

.header__button {
    position: relative;
    width: 100%;
    max-width: 448px;
}

.header__button--input {
    width: 100%;
    border-radius: 50px;
    border: 2px solid #a0aec066;
    font-weight: 500;
    font-size: 100%;
    padding: 22px 192px 22px 32px;
    transition: all 300ms ease;
}

.header__button--input:hover {
    border: 2px solid #a0aec0;
}

::placeholder {
    color: #a0aec066;
}

.header__button--started {
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    color: #f7fafc;
    background-color: #6515ff;
    border-radius: 50px;
    border: none;
    padding: 16px 35px;
    margin: 8px 8px 8px 0;
    margin-right: 0.5rem;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 300ms ease;
}

.header__button--started:hover {
    background-color: #4c0ebf;
    color: #f2f2f2;
}

.header__customers {
    margin-top: 80px;
}

.header__text--customers {
    color: #A0AEC0;
    font-size: 12px;
    font-weight: 700;
}

.header__image--customers {
    width: 100%;
    max-width: 408px;
    opacity: 0.5;
    margin-top: 16px;
}

.header__image {
    width: 100%;
    max-width: 746px;
}

/* SERVICE */

.service--container {
    margin: 0 176px;   
    line-height: 1.5;
}

.service__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__title {
    font-size: 16px;
    margin-bottom: 16px;
}

.service__para {
    width: 100%;
    max-width: 576px;
    margin-top: 16px;
    margin: 16px 0 40px 0;
    text-align: center;
}

.service__cards {
    display: flex;
}

.service__cards--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service__card {
    width: 100%;
    max-width: calc(100% / 3 - 32px);
    padding: 32px 8px;
    margin: 0 16px;
}

.service__card--wrapper {
    display: flex;
    justify-content: center;
}

.service__card--icon {
    padding: 20px;
    border: 2px solid #7c8ba128;
    border-radius: 50%;
    color: #6515ff;
    width: 64px;
    height: 64px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service__card--description {
    display: flex;
    flex-direction: column;
}

.service__card--title {
    font-size: 24px;
    color: #243E63;
}

.service__card--para {
    margin-top: 16px;
    width: 100%;
    max-width: 212px;
    word-spacing: 1px;
    color: #7C8BA1;
}

/* QUALITY */

.quality--container {
    padding: 96px 0;
    margin: 0 48px;
}

.quality__row--wrapper {
    display: flex;
}

.quality__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 50%;
    padding: 16px 0;
}

.quality__title {
    width: 100%;
    max-width: 600px;
    margin: 16px 0;
}

.quality__para {
    line-height: 1.5;
}

.quality__button {
    width: 100%;
    max-width: 141.5px;
    text-align: center;
    text-decoration: none;
    background-color: #6515ff;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 32px;
    border-radius: 50px;
    color: #f2f2f2;
    margin: 32px 0 0 0;
    transition: all 300ms ease;
}

.quality__button:hover {
    background-color: #4c0ebf;
    color: #f2f2f2;
}

.quality__img-wrapper {
    border: 1px solid #a0aec064;
    border-radius: 4px;
    overflow: hidden;
}

.quality__img {
    width: 100%;
}

/* STEPS */

.steps--container {
    padding: 96px 0;
    margin: 0 48px;
}

.steps--row {
    display: flex;
}

.steps__img {
    width: 100%;
    max-width: 640px;
}

.steps__img--wrapper {
    display: flex;
    align-items: center;
}

.steps__description {
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 32px 0px 32px 64px;
    
}

.steps__title {
    margin-top: 16px;
}

.steps__card {
    display: flex;
    margin-top: 32px;
}

.steps__card--number {
    font-size: 36px;
    color: #cbd5e0;
}

.steps__card--wrapper {
    width: 100%;
    max-width: 320px;
    margin-left: 24px;
}

.steps__card--title {
    font-size: 20px;
    color: #243E63;
}

.steps__card--para {
    margin-top: 12px;
    font-size: 14px;
    color: #718096;
    line-height: 2;
}

/* PRICING */

.pricing__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.pricing__title {
    margin: 16px 0;
}

.pricing__para {
    width: 100%;
    max-width: 576px;
}

.pricing__cards {
    margin-top: 64px;
    display: flex;
    justify-content: space-around;
}

.pricing__card {
    width: 100%;
    max-width: 384px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #71809665;
    border-radius: 8px;
    overflow: hidden;
}

.pricing__card--gradiant-cyan {
    width: 100%;
    height: 8px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.pricing__card--gradiant-red {
    width: 100%;
    height: 8px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.pricing__card--gradiant--special {
    width: 100%;
    height: 8px;
}


.pricing__card--hr {
    width: 100%;
    border: 1px solid #71809665;
}

.pricing__card--hr-blue {
    width: 100%;
    border: 1px solid #5a9cff60;
}

.pricing__card--header {
    width: 100%;
    padding: 32px 0;
    text-align: center;
}

.pricing__card--title {
    font-size: 20px;
}

.pricing__card--price {
    font-size: 48px;
    padding: 10px 0;
}

.pricing__card--month {
    font-size: 16px;
}

.pricing__card--features {
    width: 100%;
    padding: 32px;
    text-align: center;
}

.pricing__card--para {
    margin-top: 20px;
}

.pricing__card--action {
    width: 100%;
    padding: 32px;
    display: flex;
    justify-content: center;
}

.pricing__card--special {
    color: white;
    width: 100%;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.white {
    color: #f2f2f2d1;
}

.pricing__card--button-cyan {
    width: 100%;
    max-width: 192px;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    font-size: 14px;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 50px;
    color: #f2f2f2;
    transition: all 300ms ease;
}

.pricing__card--button-red {
    width: 100%;
    max-width: 192px;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    font-size: 14px;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 50px;
    color: #f2f2f2;
    transition: all 300ms ease;
}

.pricing__card--button-white {
    width: 100%;
    max-width: 192px;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    color: #6515ff;
    font-size: 14px;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 50px;
    transition: all 300ms ease;
}

.pricing__card--button-white:hover {
    background-color: #f1f1f1d2;
    transform: translateY(-4px);
    box-shadow: 0 16px 16px rgba(0, 0, 0, 0.1);
}


.pricing__card--button-cyan:hover,
.pricing__card--button-red:hover {
    transform: translateY(-4px);
    box-shadow: 0 16px 16px rgba(0, 0, 0, 0.1);
}


#landing,
#quality,
#pricing {
    animation: left-side 800ms;
}

#service,
#steps,
footer {
    animation: right-side 800ms;
}

@keyframes left-side {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes right-side {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

.footer--container {
    background-color: #6415ff;
}

.footer__link--categories {
    display: flex;
    justify-content: space-between;
}

.footer__link--category {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #f7facc;
}

.footer__links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer__link {
    color: #f7facc;
    text-decoration: none;
    font-size: 14px;
    margin-top: 12px;
}

.footer__link--fade {
    transition: all 400ms ease;
    border-bottom: 2px solid #6715ff00;
    padding-bottom: 2px;
}

.footer__link--fade:hover {
    color:#f7facc;
    border-bottom: 2px solid #f7facc;
}

.footer--hr {
    width: 100%;
    margin: 64px 0;
    border: 1px solid #ffffff60;
}

.footer__bottom--row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    width: 100%;
    max-width: 32px;
}

.footer__logo--text {
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
}

.footer__copyright--text {
    font-size: 16px;
    font-weight: 400;
    color: #cbd5e0;
}

.footer__social {
    font-size: 32px;
    color: #f7fafc;
}

.footer__social--space {
    margin: 0 8px;
}

.footer__social--fade:hover {
    opacity: 0.8;
    transition: all 300ms ease;
}