@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

nav {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
}

.purple {
    color: #6515ff;
}

.titles {
    font-weight: 600;
    letter-spacing: 1px;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
}

.section__para {
    font-size: 18px;
    color: #7C8BA1;
}

/* NAVIGATION */

.nav__container {
    padding: 32px;
}

.logo {
    width: 40px;
}

.logo--text {
    font-size: 24px;
    font-weight: 900;
    color: #243e63;
    transition: all 300ms ease;
    margin-left: 12px;
}

.logo--text:hover {
    color: #6515ff;
}

.logo--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
}

.nav__links {
    display: flex;
}

.nav__link {
    text-decoration: none;
    margin: 0 24px;
    color: #243E63;
    font-weight: 600;
    font-size: 14px;
    transition: all 400ms ease;
    border-bottom: 2px solid #6715ff00;
    padding-bottom: 2px;
}

.nav__link:hover {
    color:#6515ff;
    border-bottom: 2px solid #6715ff;
}

.nav__link--login {
    margin-left: 48px;
}

.nav__link--primary {
    background-color: #6515ff;
    padding: 12px 32px;
    border-radius: 50px;
    color: #f2f2f2;
    margin: 0;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    background-color: #4c0ebf;
    color: #f2f2f2;
}

/* HEADER */

.header__container {
    padding: 96px 0;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header__description {
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__title {
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    width: 100%;
    max-width: 480px;
    text-align: left;
}

.header__text {
    color: #7C8BA1;
    font-size: 18px;
    width: 100%;
    max-width: 532px;
    margin: 32px 0;
    text-align: left;
    line-height: 1.5;
}

.header__button {
    position: relative;
    width: 100%;
    max-width: 448px;
}

.header__button--input {
    width: 100%;
    border-radius: 50px;
    border: 2px solid #a0aec066;
    font-weight: 500;
    font-size: 100%;
    padding: 22px 192px 22px 32px;
    transition: all 300ms ease;
}

.header__button--input:hover {
    border: 2px solid #a0aec0;
}

::placeholder {
    color: #a0aec066;
}

.header__button--started {
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    color: #f7fafc;
    background-color: #6515ff;
    border-radius: 50px;
    border: none;
    padding: 16px 35px;
    margin: 8px 8px 8px 0;
    margin-right: 0.5rem;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 300ms ease;
}

.header__button--started:hover {
    background-color: #4c0ebf;
    color: #f2f2f2;
}

.header__customers {
    margin-top: 80px;
}

.header__text--customers {
    color: #A0AEC0;
    font-size: 12px;
    font-weight: 700;
}

.header__image--customers {
    width: 100%;
    max-width: 408px;
    opacity: 0.5;
    margin-top: 16px;
}

.header__image {
    width: 100%;
    max-width: 746px;
}

/* SERVICE */

.service--container {
    margin: 0 176px;   
    line-height: 1.5;
}

.service__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__title {
    font-size: 16px;
    margin-bottom: 16px;
}

.service__para {
    width: 100%;
    max-width: 576px;
    margin-top: 16px;
    margin: 16px 0 40px 0;
    text-align: center;
}

.service__cards {
    display: flex;
}

.service__cards--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service__card {
    width: 100%;
    max-width: calc(100% / 3 - 32px);
    padding: 32px 8px;
    margin: 0 16px;
}

.service__card--wrapper {
    display: flex;
    justify-content: center;
}

.service__card--icon {
    padding: 20px;
    border: 2px solid #7c8ba128;
    border-radius: 50%;
    color: #6515ff;
    width: 64px;
    height: 64px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service__card--description {
    display: flex;
    flex-direction: column;
}

.service__card--title {
    font-size: 24px;
    color: #243E63;
}

.service__card--para {
    margin-top: 16px;
    width: 100%;
    max-width: 212px;
    word-spacing: 1px;
    color: #7C8BA1;
}

/* QUALITY */

.quality--container {
    padding: 96px 0;
    margin: 0 48px;
}

.quality__row--wrapper {
    display: flex;
}

.quality__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 50%;
    padding: 16px 0;
}

.quality__title {
    width: 100%;
    max-width: 600px;
    margin: 16px 0;
}

.quality__para {
    line-height: 1.5;
}

.quality__button {
    width: 100%;
    max-width: 141.5px;
    text-align: center;
    text-decoration: none;
    background-color: #6515ff;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 32px;
    border-radius: 50px;
    color: #f2f2f2;
    margin: 32px 0 0 0;
    transition: all 300ms ease;
}

.quality__button:hover {
    background-color: #4c0ebf;
    color: #f2f2f2;
}

.quality__img-wrapper {
    border: 1px solid #a0aec064;
    border-radius: 4px;
    overflow: hidden;
}

.quality__img {
    width: 100%;
}

/* STEPS */

.steps--container {
    padding: 96px 0;
    margin: 0 48px;
}

.steps--row {
    display: flex;
}

.steps__img {
    width: 100%;
    max-width: 640px;
}

.steps__img--wrapper {
    display: flex;
    align-items: center;
}

.steps__description {
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 32px 0px 32px 64px;
    
}

.steps__title {
    margin-top: 16px;
}

.steps__card {
    display: flex;
    margin-top: 32px;
}

.steps__card--number {
    font-size: 36px;
    color: #cbd5e0;
}

.steps__card--wrapper {
    width: 100%;
    max-width: 320px;
    margin-left: 24px;
}

.steps__card--title {
    font-size: 20px;
    color: #243E63;
}

.steps__card--para {
    margin-top: 12px;
    font-size: 14px;
    color: #718096;
    line-height: 2;
}